<body>

h1{
color: rgb(123, 20, 220);
 }
p{
    color: rgb(184, 66, 11);
}
section{
    display: flex;
}
h2{
    color: rgb(255, 0, 170);
}

.half-width{
    width: 60%;
}
 .half-width img{
    width: 99%;
    height: 90%;
 }
 .ra {
    color: orange;
 }
 #for{
    color: blue;
 }
</body>